<h1>部門一覧</h1>

<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>部門コード</th>
      <th>部門名</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @xxm_bumons.each do |department| %>
      <tr>
        <td><%= department.BumonCD %></td>
        <td><%= department.BumonName %></td>
        <td><%= department.InsTime.strftime('%Y-%m-%d %H:%M:%S') if department.InsTime %></td>
        <td><%= department.UpdTime.strftime('%Y-%m-%d %H:%M:%S') if department.UpdTime %></td>
      </tr>
    <% end %>
  </tbody>
</table>
